<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link href="{{ asset('assets/lib/main.css')}}" rel='stylesheet' />

    {% block stylesheets %}
        <style>

            body {
                margin: 0;
                padding: 0;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                font-size: 14px;
            }

            #top {
                background: #eee;
                border-bottom: 1px solid #ddd;
                padding: 0 10px;
                line-height: 40px;
                font-size: 12px;
            }
            .left { float: left }
            .right { float: right }
            .clear { clear: both }

            #script-warning, #loading { display: none }
            #script-warning { font-weight: bold; color: red }

            #calendar {
                width: 50%;
                margin: 40px auto;
                padding: 0 10px;
            }



        </style>

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{  asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{  asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link href="{{  asset('assets/css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}

        <script src={{ asset('assets/lib/main.js') }}></script>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var initialTimeZone = 'local';
                var timeZoneSelectorEl = document.getElementById('time-zone-selector');
                var loadingEl = document.getElementById('loading');
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    timeZone: initialTimeZone,
                    locale:'fr',

                    editable: true,
                    selectable: true,
                    dayMaxEvents: true, // allow "more" link when too many events
                    events: {
                        url: 'php/get-events.php',
                        failure: function() {
                            document.getElementById('script-warning').style.display = 'inline'; // show
                        }
                    },
                    loading: function(bool) {
                        if (bool) {
                            loadingEl.style.display = 'inline'; // show
                        } else {
                            loadingEl.style.display = 'none'; // hide
                        }
                    },

                    eventTimeFormat: { hour: 'numeric', minute: '2-digit', timeZoneName: 'short' },

                    dateClick: function(arg) {
                        console.log('dateClick', calendar.formatIso(arg.date));
                    },
                    select: function(arg) {
                        console.log('select', calendar.formatIso(arg.start), calendar.formatIso(arg.end));

                        var dateejs = calendar.formatIso(arg.start) ;



                        dateejs = dateejs.substring(0, 10);



                        //     window.location.href="{{ path('datedesuivie' , {datesirine:'"+dateejs+"' }) }}";

                        window.location.href="http://127.0.0.1:8000/calendar/"+dateejs;



                    }
                });

                calendar.render();

                // load the list of available timezones, build the <select> options
                // it's HIGHLY recommended to use a different library for network requests, not this internal util func
                FullCalendar.requestJson('GET', 'php/get-time-zones.php', {}, function(timeZones) {

                    timeZones.forEach(function(timeZone) {
                        var optionEl;

                        if (timeZone !== 'UTC') { // UTC is already in the list
                            optionEl = document.createElement('option');
                            optionEl.value = timeZone;
                            optionEl.innerText = timeZone;
                            timeZoneSelectorEl.appendChild(optionEl);
                        }
                    });
                }, function() {
                    // TODO: handle error
                });

                // when the timezone selector changes, dynamically change the calendar option
                timeZoneSelectorEl.addEventListener('change', function() {
                    calendar.setOption('timeZone', this.value);
                });
            });

        </script>

        <!-- Vendor JS Files -->

        <script src="{{  asset('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/chart.js/chart.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/echarts/echarts.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/quill/quill.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
        <script src="{{  asset('assets/vendor/tinymce/tinymce.min.js') }}"></script>
        <script src="{{  asset('assets/vendor/php-email-form/validate.js') }}"></script>

        <script src="{{  asset('fullcalendar/main.js') }}"></script>
        <!-- Template Main JS File -->
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}
</head>
<body>

{% block header %}
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a  class="logo d-flex align-items-center">
                <img src="{{ asset('assets/img/hybride.png') }}" alt="">
                <span class="d-none d-lg-block"><h5>La Poste Tunisienne</h5>  </span>
            </a>

        </div><!-- End Logo -->
        <div >
{#            {% if app.user %}#}
{#                <div class="mb-3" style="margin-top: 1rem; margin-left: 49rem;">#}
{#                    <a class="btn btn-outline-primary" href="{{path('app_logout')  }}">Déconnexion</a>#}
{#                </div>#}
{#            {% endif %}#}

        </div><!-- End Search Bar -->


    </header><!-- End Header -->

{% endblock %}
{% block sidebar %}

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer text-center" style="margin-right: 19rem;">
        <div class="copyright">
            &copy;  <strong><span>Centre de tri postal</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            2021/2022
        </div>
    </footer><!-- End Footer -->

{#    <footer class="text-center text-white" style="background-color: #f1f1f1;">#}
{#        <!-- Grid container -->#}
{#        <div class="container pt-4">#}
{#            <!-- Section: Social media -->#}
{#            <section class="mb-4">#}
{#                <div>#}
{#                    <a#}
{#                            class="btn btn-link btn-floating btn-lg text-dark m-1"#}
{#                            href=https://www.facebook.com/TunisianPost/"#}
{#                            role="button"#}
{#                            data-mdb-ripple-color="dark"#}
{#                    > <i class="bi bi-facebook"></i>#}
{#                        </a>#}
{#                    <!-- Twitter -->#}
{#                    <a#}
{#                            class="btn btn-link btn-floating btn-lg text-dark m-1"#}
{#                            href="https://twitter.com/poste_tn"#}
{#                            role="button"#}
{#                            data-mdb-ripple-color="dark"#}
{#                    ><i class="bi bi-twitter"></i>#}
{#                        </a>#}

{#                    <!-- Google -->#}
{#                    <a#}
{#                            class="btn btn-link btn-floating btn-lg text-dark m-1"#}
{#                            href="https://www.poste.tn/actualites.php?offset=-122"#}
{#                            role="button"#}
{#                            data-mdb-ripple-color="dark"#}
{#                    >  <i class="bi bi-google"></i>#}
{#                       </a>#}



{#                </div>#}
{#            </section>#}
{#            <!-- Section: Social media -->#}
{#        </div>#}
{#        <!-- Grid container -->#}

{#        <!-- Copyright -->#}
{#        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">#}
{#            © 2021-2022#}
{#        </div>#}
{#        <!-- Copyright -->#}
{#    </footer>#}




{% endblock %}



</body>
</html>
